.col-centered {
  float:none;
  margin: 0 auto;
}
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

#main-body {
  padding-top: 40px;
}
#gradient {
  background-color: #7FFFD4;
}

#playlist {
  color: black;
  padding-top: 70px;
  padding-bottom: 70px;
}

#playlist iframe {
  border: none;
  height: 400px;
  width: 100%;
}
